@model Root

@{
    ViewData["Title"] = "CatAPI";
}

<div>
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <form method="post">
        <h6>Skriv et tal for at se en kat</h6>
        <input type="text" step="any" name="id"/>
        <button type="submit" class="btn-primary">Søg kat</button>
    </form>
    @if (Model != null)
    {
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tags</th>
                    <th>MimeType</th>
                    <th>CreatedAt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Tags</td>
                    <td>@Model.Mimetype</td>
                    <td>@Model.CreatedAt.ToString("U")</td>
                </tr>
            </tbody>
        </table>
    }
</div>
